@import "../../globals.scss";
.o-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    border: 1px solid red;
    border-radius: 1rem;

    .o-imgcont{
        
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    .o-type-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        p{
            font-family: $font-secundary;
        }

    }

    .o-nombre{
        h2{
            font-family: $font-primary; 
            text-transform: uppercase;
        }
    }

    .o-tabs{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .o-active{
            width: 135px;
            text-align: center;
            background: red;
            border-bottom: 2px solid #c1c4c9;
            padding: 13px 15px;
          cursor: pointer;
          -webkit-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          
        }
        
       
        
        .o-tab{
            width: 135px;
            text-align: center;
            background: #e9ecf1;            
            padding: 13px 15px;
          cursor: pointer;
          -webkit-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          
          
          
          
        }

    }
    .o-abilities{
background: red;
    }
    .o-abilities-inactive{
        display: none;
    }
    .o-moves{
background: blue;
    }
    .o-moves-inactive{
        display: none;
    }
}

