

$mainColor:#c0c0c0;
$secundario:#FABB51;
$letras:#1A374D;
$font-primary: 'Press Start 2P', cursive;
$font-secundary: 'Abel', sans-serif;
$width: 768px;

@mixin mobile {
    @media (max-width:#{$width}){
        @content
    }
}